[Unit]
Description=Twitter News Bot

[Service]
User=pi
Type=oneshot
WorkingDirectory=/home/pi/twitter-news-bot
ExecStart=/usr/bin/python3 /home/pi/twitter-news-bot/tweetBot.py
